{% extends 'bsct/base.html' %}
{% load bscttags %}

{% block BSCT_CONTENT %}
    <div class="container">
        <div class="col-lg-12">
            <div class="page-header">
              <div class="row">
                  <h1>Making Software</h1>
                  <h2>Crie o seu sistema em apenas 4 passos</h2>
              </div>
            </div>
            <div class="row">
            </div>

            <div class="row">
              <div class="col-lg-6">
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title">Primeiro passo: Cadastre-se</h3>
                  </div>
                  <div class="panel-body">
                      <p>É muito simples, você só precisa prencher os dados abaixo
                      <ul>
                      <li>Nome da sua empresa</li>
                      <li>Endereço de e-mail válido</li>
                      </ul>
                      Ou se preferir pode efetuar o seu login através de uma rede social em apenas um clique (Facebook, Twitter, Google+)
                      </p>
                  </div>
                  <div class="progress-animated">
                    <div class="progress progress-striped active">
                      <div class="progress-bar progress-bar-success" style="width: 15%"></div>
                    </div>
                  </div>                  
              </div>
            </div>
            
              <div class="col-lg-6">
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title">Segundo passo: Crie o seu Sistema</h3>
                  </div>
                  <div class="panel-body">
                      <p>
                      Para criar o seu sistema você só precisa definir os dados abaixo:
                      <ul>
                      <li>Nome do sistema (Título)</li>
                      <li>Subtítulo para o sistema</li>
                      <li>Descrição completa do sistema</li>
                      </ul>
                      Essas três informações serão apresentadas na tela inicial do seu sistema.    
                      </p>
                  </div>
                  <div class="progress-animated">
                    <div class="progress progress-striped active">
                      <div class="progress-bar progress-bar-success" style="width: 30%"></div>
                    </div>
                  </div>                  
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-lg-6">
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title">Terceiro passo: Crie o Menu do Sistema</h3>
                  </div>
                  <div class="panel-body">
                    <p>
                    O sistema é organizado por sessões, ou elementos dispostos em um menu. <br>
                    Cada sessão possui um formulário para o usuário preencher as informações que você deseja coletar.<br>
                    Você cria as sessões do seu sistema, e define as informações abaixo:
                    <ul>
                    <li>Nome da sessão (Título)</li>
                    <li>Subtítulo da sessão</li>
                    <li>Descrição completa da sessão</li>
                    </ul>
                    Essas três informações serão apresentadas na tela das respectivas sessões do seu sistema.     
                    </p>
                  </div>
                  <div class="progress-animated">
                    <div class="progress progress-striped active">
                      <div class="progress-bar progress-bar-success" style="width: 60%"></div>
                    </div>
                  </div>                  
                </div>
              </div>

              <div class="col-lg-6">
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title">Quarto passo: Crie os Formulários do Sistema</h3>
                  </div>
                  <div class="panel-body">
                    <p>
                    Cada sessão do seu sistema possui um formulário. <br>
                    Você cria os formulários com os campos que desejar, e define tudo em uma interface amigável e intuitiva.<br>
                    Para cada campo do formulário você define os dados abaixo:
                    <ul>
                    <li>Tipo do campo (texto, número, data, e-mail, checkbox, radio button etc)</li>
                    <li>Nome</li>
                    <li>Obrigatoriedade de prenchimento</li>
                    
                    </ul>
                    Durante a criação dos campos, ou após a definição de todos os campos, você posiciona os campos na ordem desejada.
                    </p>
                  </div>
                  <div class="progress-animated">
                    <div class="progress progress-striped active">
                      <div class="progress-bar progress-bar-success" style="width: 100%"></div>
                    </div>
                  </div>                    
                </div>
              </div>
            </div>
            <div class="row">
              <p>&nbsp;</p>
            </div>            
            <div class="row">
              <div class="col-lg-12">
                <h2>Pronto!!!</h2>
                <p>
                Em apenas quatro passos você criou o seu sistema. <Br>
                Com um clique no botão "Publicar", o seu sistema será publicado automaticamente na Internet.<br>
                O sistema é automaticamente criado com todas as funcionalidades:
                <ul>
                  <li>Formulários que você definiu</li>
                  <li>Menu com as sessões do sistema</li>
                  <li>Mecanismo de cadastro de usuários</li>
                  <li>Interface amigável para você administrar e visualizar usuários e demais informações cadastradas</li>
                </ul>
                </p>
                <a class = 'btn btn-success' href  = 'accounts/signup/'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Começar!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
              </div>
            </div>
            <div class="row">
              <p>&nbsp;</p>
            </div>
            

            <div class="row">
              <div class="col-lg-12">
              <h2>Veja alguns exemplos</h2>
                <p>
                <a href="https://projetos.inteliform.com.br/trasys_trading_system_26/" target="_blank">trasys - Trading System</a><Br>
                Cria a sua conta ou use uma conta de teste para conhecer esse sistema criado através do InteliForm:<Br>
                <b>Usuário:</b> teste <br> 
                <b>Senha: </b> teste </p>
                <p>
                Quando você cria um sistema no InteliForm, automaticamente é criada uma interface administrativa.<Br>
                Você pode acessar a interface administrativa do trasys - Trading System clicando <a href="https://projetos.inteliform.com.br/trasys_trading_system_26/administrativo" target="_blank">aqui</a>.<Br>
                <b>Usuário:</b> teste <br> 
                <b>Senha: </b> teste
                </p>
              </div>
              <div class="col-lg-12">
                <p>
                <a href="https://projetos.inteliform.com.br/catavento_fotografia_19/" target="_blank">Catavento Fotografia</a><Br>
                Cria a sua conta ou use a conta de teste para conhecer esse sistema criado através do InteliForm:<Br>
                <b>Usuário:</b> teste <br> 
                <b>Senha: </b> teste </p>
                <p>
                Quando você cria um sistema no InteliForm, automaticamente é criada uma interface administrativa.<Br>
                Você pode acessar a interface administrativa do trasys - Trading System clicando <a href="https://projetos.inteliform.com.br/catavento_fotografia_19/administrativo" target="_blank">aqui</a>.<Br>
                <b>Usuário:</b> teste <br> 
                <b>Senha: </b> teste
                </p>
              </div>
              <div class="col-lg-12">
                <p>
                <a href="https://projetos.inteliform.com.br/gerenciador_de_tarefas_25/" target="_blank">Gerenciador de Tarefas</a><Br>
                Cria a sua conta ou use uma conta de demonstração para conhecer esse sistema criado através do InteliForm:<Br>
                <b>Usuário:</b> teste <br> 
                <b>Senha: </b> teste </p>
                <p>
                Quando você cria um sistema no InteliForm, automaticamente é criada uma interface administrativa.<Br>
                Você pode acessar a interface administrativa do trasys - Trading System clicando <a href="https://projetos.inteliform.com.br/gerenciador_de_tarefas_25/administrativo" target="_blank">aqui</a>.<Br>
                <b>Usuário:</b> teste <br> 
                <b>Senha: </b> teste
                </p>
              </div>
            </div>


            <div class="row">
              <div class="col-lg-12">
                <h2>Crie você mesmo o seu sistema</h2>
                <p>
                Crie o seu sistema e se aproxime do seu público, dos seus clientes e dos usuários do seu portal web.<br>
                Capture as informações do seu mercado de maneira rápida, prática e eficiente.<br>
                Crie o seu sistema, os seus clientes preenchem as informações e você adminstra o conhecimento dentro da plataforma.
                </p>
                <img src="/static_files/making_software/images/inteliform.png">
              </div>
            </div>

          </div>
        
                <h2>&nbsp;</h2>
        
                <div class="alert alert-dismissable alert-danger">
                  <strong>Compatível com todos os browsers</strong> 

                  <br>Exceto Internet Explorer, que não segue os padrões definidos pela indústria, mercado,
                  comunidade de desenvolvedores e orgãos que estebelecem os padrões das tecnologias utilizadas na Internet.
                </div>
                <p>&nbsp;</p>        
        </div>

            
{% endblock %}          