{% extends 'bsct/base.html' %}

{% load bscttags %}
 
{% block BSCT_CONTENT %}
    <div class="container">
        <div class="page-header">
          <div class="row">
            <div class="col-lg-12">
                <h1>  Listar {% get_verbose_name_plural object_list.model %}</h1>
                <p>Essa página lista os sistemas que você criou, e os seus respectivos status</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">    
            {% block BSCT_LIST_ITEMS %}
                
        
            {% if objeto_lista %}
            <table class = 'table table-striped'>
                    <thead>
                        <th> {% get_verbose_name object_list.model %}</th>
                        <th> P1 </th>
                        <th> P2 </th>
                        <th> P3 </th>
                        <th> P4 </th>
                        <th> A&ccedil;&atilde;o </th>
                        <th> WWW </th>
                        
                    </thead>
            
                    {% for object in objeto_lista %}
                    <tr>
                        <td> 
                            {% block BSCT_LIST_ITEMS_ITEM %}
                            <b>{{object}} </b>
                            {% endblock %}
                        </td>
                        <td>
                            <span class="label label-success"> OK!  </span>
                        </td>           
                        <td>
                            <span class="label label-success"> OK!  </span>
                        </td>           
                        <td>
                            {{object.elementos|safe}}
                        </td>           
                        <td>
                            {{object.fields|safe}}
                        </td>           
                        <td>
                            {% block BSCT_LIST_ITEMS_ACTIONS %}
                            <a class = 'btn' href  = '{{object.get_absolute_url}}' >
                                Editar
                            </a>
                            {% endblock %}
                        </td>
                        <td>
                            <a href="http://{{subdominio_projetos}}/{{ object.slug }}" target="_blank">{{object}}</a>
                        </td>                        
                    </tr>
                    {% endfor %}
            </table>
                <p>
                    Legenda:
                    <ul>
                        <li>P1 = Passo 1 - O seu cadastro no Inteliform</li>
                        <li>P2 = Passo 2 - Criação do seu sistema</li>
                        <li>P3 = Passo 3 - Criação do menu do sistema</li>
                        <li>P4 = Passo 4 - Criação dos formulários do sistema</li>
                    </ul>
                </p>
                
            {% else %}
                <p class = 'alert alert-warning'>
                    Você ainda não criou nenhum sistema.<br>
                    Clique no botão abaixo para criar um sistema.
                </p>                    
            {% endif %}
            {% endblock %}
            
            
            {% block BSCT_LIST_PAGINATION %}
                <div class = 'span4'>
                {% if page_obj.has_previous %}
                    <!--<a class = 'btn btn-info' href="?page={{ page_obj.previous_page_number}}"> Anterior</a>-->
                {% endif %}
                {% if page_obj.has_next %}
                    <!--<a class = 'btn btn-info' href="?page={{ page_obj.next_page_number}}"> Próxima</a>-->
                {% endif %}
                </div>
            {% endblock %}
        </div>
        </div>
        <div class="row">
            <p>&nbsp;</p>
        </div>
        <div class="row">
            <div class="col-lg-12">    

                {% block BSCT_LIST_CREATE_LINK %}
                    {% if object_list.model.get_create_url %}
                        <div class = 'span4'>
                        <a class = 'btn btn-primary' href  = '{{object_list.model.get_create_url }}'>
                            Criar novo(a) <i>"{% get_verbose_name object_list.model %}"</i> 
                        </a>
                        </div>
                    {% endif %}
                {% endblock %}
    


            </div>
        </div>


{% endblock %}

