{% extends 'account_base.html' %}
{% load bscttags %}

{% block BSCT_MAIN %}

<center>
   <h1>403 - Acesso negado</h1>
    <p>Este sistema possui um mecanismo de controle de acesso,
    e você pode ter tentado acessar uma página que você não tem permissão.<br>
    Se você acabou de criar ou editar um conteúdo, e direcionou a permissão do conteúdo para outro usuário,
    você não tem mais direito de acessar esse conteúdo.
    </p>
    <p>&nbsp;</p>   
</center>

            
{% endblock %}          