<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}Facebook{% endblock head_title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
 
    <link rel="stylesheet" href="/static_files/making_software/fbootstrapp-master/bootstrap.css" media="screen">
    <link rel="stylesheet" href="/static_files/making_software/bootswatch/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static_files/making_software/bootswatch/assets/css/bootswatch.min.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
 
    <!--[if lt IE 9]>
      <script src="/static_files/making_software/bootswatch/bower_components/bootstrap/assets/js/html5shiv.js"></script>
      <script src="/static_files/making_software/bootswatch/bower_components/bootstrap/assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
 
    {% block body %}
        <body>
    {% block content %}
    <div class="topbar" data-scrollspy="scrollspy">
      <div class="topbar-inner">
        <div class="container canvas">
                <a href='#' class="brand">Minha Conta</a>
        </div>
      </div>
    </div>
    {% endblock content %}
    {% block BSCT_MAIN %}
 
    {% endblock %}
    {% endblock body %}
    {% block extra_body %}
        <center>
            <a class = 'btn btn-warning' href = "javascript:history.back(-1);"> Voltar </a>
        </center>
    {% endblock extra_body %}
    <script src="/static_files/making_software/bootswatch/bower_components/jquery/jquery.min.js"></script>
    <script src="/static_files/making_software/bootswatch/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
 

