<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}Facebook{% endblock head_title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
 
    <link rel="stylesheet" href="/static_files/making_software/fbootstrapp-master/bootstrap.css" media="screen">
    <link rel="stylesheet" href="/static_files/making_software/bootswatch/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static_files/making_software/bootswatch/assets/css/bootswatch.min.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
 
    <!--[if lt IE 9]>
      <script src="/static_files/making_software/bootswatch/bower_components/bootstrap/assets/js/html5shiv.js"></script>
      <script src="/static_files/making_software/bootswatch/bower_components/bootstrap/assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
 
    {% block body %}
        <body>
    {% block content %}
    <div class="topbar" data-scrollspy="scrollspy">
      <div class="topbar-inner">
        <div class="container canvas">
                <a href='#' class="brand">[% base.sistema %] - Minha Conta</a>
                <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                  <li><a href="{% url 'fb_app_account_change_password' %}">Alterar Senha</a></li>
                  <li><a href="{% url 'fb_app_account_logout' %}">Sair</a></li>
                  <li><b><a href="/[% base.slug %]/fb_app">Voltar</a></b></li>
                {% else %}
                  <li><a href="{% url 'fb_app_account_login' %}">Entrar</a></li>
                  <li><a href="{% url 'fb_app_account_signup' %}">Cadastrar</a></li>
                  <li><a href="{% url 'fb_app_account_reset_password' %}">Reinicializar Senha</a></li>
                {% endif %}
                </ul>
        </div>
      </div>
    </div>
    <div class="container canvas">
      {% if user.is_authenticated %}
      <small class="nav navbar-nav navbar-right" style="padding-top: 20px">Voc&ecirc; est&aacute; logado como {{ user.username|title }}! </small>
      {% endif %}
    </div>    
    {% endblock content %}
    {% block BSCT_MAIN %}
 
    {% endblock %}
    {% endblock body %}
    {% block extra_body %}
    {% endblock extra_body %}
    <script src="/static_files/making_software/bootswatch/bower_components/jquery/jquery.min.js"></script>
    <script src="/static_files/making_software/bootswatch/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static_files/making_software/bootswatch/assets/js/bootswatch.js"></script>    
  </body>
</html>
 

