{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block ALLAUTH_CONTENT %}
    <h1>{% trans "Change Password" %}</h1>
    
    <form method="POST" action="" class="password_change">
        {% csrf_token %}
    <table>
            {{ form.as_table }}
    </table> 
        {#<button type="submit" name="action">{% trans "Change Password" %}</button>#}
        <input class = 'btn' type="submit" value="{% trans "Change Password" %}" />
        
    </form>
{% endblock %}
